transferts/wsdl/SourceAdaptorService.wsdl

<wsdl:definitions targetNamespace="http://service.interfaces.sense.at" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service.interfaces.sense.at" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax22="http://convert.interfaces.sense.at/xsd" xmlns:ax21="http://interfaces.sense.at/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://convert.interfaces.sense.at/xsd">
      <xs:complexType abstract="true" name="ConvertMethod">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="ConvertToCDALevel1">
        <xs:complexContent>
          <xs:extension base="ax22:ConvertMethod">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ConvertToPDF">
        <xs:complexContent>
          <xs:extension base="ax22:ConvertMethod">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ConvertXMLToCDAL2">
        <xs:complexContent>
          <xs:extension base="ax22:ConvertMethod">
            <xs:sequence>
              <xs:element minOccurs="0" name="documentType" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="version" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.interfaces.sense.at" xmlns:ax24="http://interfaces.sense.at/xsd">
      <xs:import namespace="http://interfaces.sense.at/xsd"/>
      <xs:element name="submitDocuments">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="ax21:Document"/>
            <xs:element minOccurs="0" name="submissionInfo" nillable="true" type="ax21:SubmissionInfo"/>
            <xs:element minOccurs="0" name="sessionInfo" nillable="true" type="ax21:SessionInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submitDocumentsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SubmitDocumentsResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrieveValueSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="valueSetOID" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrieveValueSetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:ValueSetResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrieveCodes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrieveCodesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:CodeResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="resolveDocumentUniqueID">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="kisDocID" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="resolveDocumentUniqueIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deprecateDocument">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="patientInfo" nillable="true" type="ax21:PatientInfo"/>
            <xs:element minOccurs="0" name="submissionInfo" nillable="true" type="ax21:SubmissionInfo"/>
            <xs:element minOccurs="0" name="sessionInfo" nillable="true" type="ax21:SessionInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deprecateDocumentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SubmitDocumentsResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createPatient">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="patientInfo" nillable="true" type="ax21:PatientInfo"/>
            <xs:element minOccurs="0" name="sessionInfo" nillable="true" type="ax21:SessionInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createPatientResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:CreatePatientResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createFolder">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="folder" nillable="true" type="ax21:Folder"/>
            <xs:element minOccurs="0" name="submissionInfo" nillable="true" type="ax21:SubmissionInfo"/>
            <xs:element minOccurs="0" name="sessionInfo" nillable="true" type="ax21:SessionInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createFolderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:CreateFolderResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="convertDocument">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="document" nillable="true" type="ax21:Document"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="convertDocumentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="associateDocuments">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="parentDocumentID" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="ax21:RelatedDocument"/>
            <xs:element minOccurs="0" name="submissionInfo" nillable="true" type="ax21:SubmissionInfo"/>
            <xs:element minOccurs="0" name="sessionInfo" nillable="true" type="ax21:SessionInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="associateDocumentsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SubmitDocumentsResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addDocumentsToFolder">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="folder" nillable="true" type="ax21:Folder"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="ax21:Document"/>
            <xs:element minOccurs="0" name="submissionInfo" nillable="true" type="ax21:SubmissionInfo"/>
            <xs:element minOccurs="0" name="sessionInfo" nillable="true" type="ax21:SessionInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addDocumentsToFolderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:CreateFolderResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://interfaces.sense.at/xsd" xmlns:ax23="http://convert.interfaces.sense.at/xsd">
      <xs:import namespace="http://convert.interfaces.sense.at/xsd"/>
      <xs:import namespace="http://convert.interfaces.sense.at/xsd"/>
      <xs:complexType name="Document">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="convertMethods" nillable="true" type="ax22:ConvertMethod"/>
          <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="documentMetadata" nillable="true" type="ax21:DocumentMetadata"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedDocuments" nillable="true" type="ax21:RelatedDocument"/>
          <xs:element minOccurs="0" name="signDocument" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocumentMetadata">
        <xs:sequence>
          <xs:element minOccurs="0" name="author" nillable="true" type="ax21:MedicalEmployee"/>
          <xs:element minOccurs="0" name="availabilityStatus" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="classCode" nillable="true" type="ax21:GenCode"/>
          <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCodes" nillable="true" type="ax21:GenCode"/>
          <xs:element minOccurs="0" name="creationTime" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="department" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="documentAvailablity" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="dynamicDocument" type="xs:boolean"/>
          <xs:element minOccurs="0" name="entryUUID" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="eventCodes" nillable="true" type="ax21:GenCode"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="extraMetadata" nillable="true" type="ax21:ExtraMetadata"/>
          <xs:element minOccurs="0" name="formatCode" nillable="true" type="ax21:GenCode"/>
          <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="healthcareFacilityTypeCode" nillable="true" type="ax21:GenCode"/>
          <xs:element minOccurs="0" name="homeCommunityID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="institution" nillable="true" type="ax21:Institution"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="intendedRecipients" nillable="true" type="ax21:Receiver"/>
          <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="legalAuthenticator" nillable="true" type="ax21:MedicalEmployee"/>
          <xs:element minOccurs="0" name="logicalID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="mimeType" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="patientInfo" nillable="true" type="ax21:PatientInfo"/>
          <xs:element minOccurs="0" name="practiceSettingCode" nillable="true" type="ax21:GenCode"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="referenceIdList" nillable="true" type="ax21:ReferenceID"/>
          <xs:element minOccurs="0" name="repositoryID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceStartTime" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="serviceStopTime" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="size" type="xs:long"/>
          <xs:element minOccurs="0" name="sourceDocumentID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="subDepartment" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="typeCode" nillable="true" type="ax21:GenCode"/>
          <xs:element minOccurs="0" name="uniqueID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="version" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MedicalEmployee">
        <xs:sequence>
          <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="identifier" nillable="true" type="ax21:ID"/>
          <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="secondAndFurtherNames" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="speciality" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="suffix" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ID">
        <xs:sequence>
          <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="oid" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GenCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="codingScheme" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExtraMetadata">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Institution">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="oid" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Receiver">
        <xs:sequence>
          <xs:element minOccurs="0" name="identifier" nillable="true" type="ax21:ID"/>
          <xs:element minOccurs="0" name="medicalEmployee" nillable="true" type="ax21:MedicalEmployee"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PatientInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" nillable="true" type="ax21:PatientAddress"/>
          <xs:element minOccurs="0" name="birthOrder" type="xs:int"/>
          <xs:element minOccurs="0" name="birthdate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="birthplace" nillable="true" type="ax21:PatientAddress"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="citizenship" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="deathDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="deathIndicator" type="xs:boolean"/>
          <xs:element minOccurs="0" name="driverLicenseNumber" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="externalDomainPatIDs" nillable="true" type="ax21:ID"/>
          <xs:element minOccurs="0" name="familyName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="givenName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="homeCommunityPatientID" nillable="true" type="ax21:ID"/>
          <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="maritalStatus" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="motherIdentifier" nillable="true" type="ax21:ID"/>
          <xs:element minOccurs="0" name="motherMaidenName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="multipleBirthIndicator" type="xs:boolean"/>
          <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="religion" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="secondAndFurtherNames" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="socialSecurityNumber" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="sourcePatientID" nillable="true" type="ax21:ID"/>
          <xs:element minOccurs="0" name="suffix" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PatientAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReferenceID">
        <xs:sequence>
          <xs:element minOccurs="0" name="assigningAuthority" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RelatedDocument">
        <xs:complexContent>
          <xs:extension base="ax21:Document">
            <xs:sequence>
              <xs:element minOccurs="0" name="relationType" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SubmissionInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="author" nillable="true" type="ax21:MedicalEmployee"/>
          <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="contentTypeCode" nillable="true" type="ax21:GenCode"/>
          <xs:element minOccurs="0" name="institution" nillable="true" type="ax21:Institution"/>
          <xs:element minOccurs="0" name="sender" nillable="true" type="ax21:Sender"/>
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Sender">
        <xs:sequence>
          <xs:element minOccurs="0" name="individual" nillable="true" type="ax21:HPDIdentifier"/>
          <xs:element minOccurs="0" name="organisation" nillable="true" type="ax21:HPDIdentifier"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HPDIdentifier">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="idType" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SessionInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="department" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="receivingApplication" nillable="true" type="ax21:Realm"/>
          <xs:element minOccurs="0" name="securityInformation" nillable="true" type="ax21:SecurityInformation"/>
          <xs:element minOccurs="0" name="sendingApplication" nillable="true" type="ax21:Realm"/>
          <xs:element minOccurs="0" name="sendingFacility" nillable="true" type="ax21:Realm"/>
          <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="userLanguage" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="userRole" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Realm">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="oid" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SecurityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="lastPatientContact" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="patientConsentVerified" type="xs:boolean"/>
          <xs:element minOccurs="0" name="purposeOfUse" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectAttributes" nillable="true" type="ax21:GenCode"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AdaptorResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="errorList" nillable="true" type="ax21:AdaptorError"/>
          <xs:element minOccurs="0" name="severity" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="success" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AdaptorError">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="severity" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitDocumentsResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ValueSetResponse">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="codes" nillable="true" type="ax21:GenCode"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CodeResponse">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="associationDocumentations" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="auditSources" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="classCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="codeListCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="contentTypeCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="eventCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="folderCodeLists" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="formatCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="healthcareFacilityTypeCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="institutions" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="mimeTypes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="practiceSettingCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="purposeOfUses" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="roleCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="typeCodes" nillable="true" type="ax21:GenCode"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreatePatientResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Folder">
        <xs:sequence>
          <xs:element minOccurs="0" name="availabilityStatus" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="codeList" nillable="true" type="ax21:GenCode"/>
          <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="entryUUID" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="extraMetadata" nillable="true" type="ax21:ExtraMetadata"/>
          <xs:element minOccurs="0" name="homeCommunityID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="lastUpdateTime" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="logicalID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="patientInfo" nillable="true" type="ax21:PatientInfo"/>
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="uniqueID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="version" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateFolderResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="folder" nillable="true" type="ax21:Folder"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdminDocumentMetadata">
        <xs:complexContent>
          <xs:extension base="ax21:DocumentMetadata">
            <xs:sequence>
              <xs:element minOccurs="0" name="parentDocument" nillable="true" type="ax21:AdminDocumentMetadata"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedDocuments" nillable="true" type="ax21:RelatedDocumentMetadata"/>
              <xs:element minOccurs="0" name="relationship" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="updateComment" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="RelatedDocumentMetadata">
        <xs:complexContent>
          <xs:extension base="ax21:DocumentMetadata">
            <xs:sequence>
              <xs:element minOccurs="0" name="associationAvailabilityStatus" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="associationEntryUUID" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="relationship" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DeleteResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DocumentContainer">
        <xs:sequence>
          <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="documentUniqueID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="homeCommunityID" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocumentMetaInformation">
        <xs:complexContent>
          <xs:extension base="ax21:DocumentMetadata">
            <xs:sequence>
              <xs:element minOccurs="0" name="parentDocument" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="parentDocumentAssociation" nillable="true" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="parentFolders" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DocumentsSearchResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="documentsMetaInformation" nillable="true" type="ax21:DocumentMetaInformation"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType abstract="true" name="FilterParameter">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="availabilityStatus" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="searchExternalDomains" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FindAllResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="ax21:DocumentMetaInformation"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="folders" nillable="true" type="ax21:FolderWithDocuments"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FolderWithDocuments">
        <xs:complexContent>
          <xs:extension base="ax21:Folder">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="ax21:FolderDocument"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FolderDocument">
        <xs:sequence>
          <xs:element minOccurs="0" name="associationAvailabilityStatus" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="associationEntryUUID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="documentEntryUUID" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FindDocumentsFilter">
        <xs:complexContent>
          <xs:extension base="ax21:FilterParameter">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="classCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element minOccurs="0" name="creationTime" nillable="true" type="ax21:TimeRange"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="eventCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="formatCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="healthcareFacilityTypeCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="institutions" nillable="true" type="ax21:Institution"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="practiceSettingCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element minOccurs="0" name="serviceStartTime" nillable="true" type="ax21:TimeRange"/>
              <xs:element minOccurs="0" name="serviceStopTime" nillable="true" type="ax21:TimeRange"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="from" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="to" nillable="true" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FindFoldersFilter">
        <xs:complexContent>
          <xs:extension base="ax21:FilterParameter">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="codes" nillable="true" type="ax21:GenCode"/>
              <xs:element minOccurs="0" name="lastUpdateTime" nillable="true" type="ax21:TimeRange"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FindFoldersResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="folders" nillable="true" type="ax21:Folder"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FindHistoryResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="documentHistory" nillable="true" type="ax21:AdminDocumentMetadata"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FindPatientResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="patientInfo" nillable="true" type="ax21:PatientInfo"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FindPatientsResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="continuationPointer" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="entriesPerPage" nillable="true" type="xs:int"/>
              <xs:element minOccurs="0" name="numberOfResults" nillable="true" type="xs:int"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="patients" nillable="true" type="ax21:PatientInfo"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ImageDocumentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentUniqueID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="homeCommunityID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="repositoryUniqueID" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MultiPatientQueryParameter">
        <xs:complexContent>
          <xs:extension base="ax21:FilterParameter">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="classCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="confidentialityCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element minOccurs="0" name="creationTime" nillable="true" type="ax21:TimeRange"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="eventCodeList" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="formatCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="healthcareFacilityTypeCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="institutions" nillable="true" type="ax21:Institution"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="patients" nillable="true" type="ax21:PatientInfo"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="practiceSettingCodes" nillable="true" type="ax21:GenCode"/>
              <xs:element minOccurs="0" name="serviceStartTime" nillable="true" type="ax21:TimeRange"/>
              <xs:element minOccurs="0" name="serviceStopTime" nillable="true" type="ax21:TimeRange"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="typeCodes" nillable="true" type="ax21:GenCode"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultiPatientResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="documentReferences" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="NotificationReceiver">
        <xs:complexContent>
          <xs:extension base="ax21:Receiver">
            <xs:sequence>
              <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="RetrieveDocumentsResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="ax21:DocumentContainer"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="RetrieveImagesResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="images" nillable="true" type="ax21:DocumentContainer"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SeriesRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="imageDocumentRequest" nillable="true" type="ax21:ImageDocumentRequest"/>
          <xs:element minOccurs="0" name="seriesInstanceUID" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StudyRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="instanceUID" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="seriesRequest" nillable="true" type="ax21:SeriesRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransmissionReceiver">
        <xs:complexContent>
          <xs:extension base="ax21:Receiver">
            <xs:sequence>
              <xs:element minOccurs="0" name="endpoint" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DocumentReceiver">
        <xs:complexContent>
          <xs:extension base="ax21:Receiver">
            <xs:sequence>
              <xs:element minOccurs="0" name="recipient" nillable="true" type="ax21:Recipient"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Recipient">
        <xs:sequence>
          <xs:element minOccurs="0" name="individual" nillable="true" type="ax21:HPDIdentifier"/>
          <xs:element minOccurs="0" name="parent" nillable="true" type="ax21:HPDIdentifier"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ValidationResult">
        <xs:complexContent>
          <xs:extension base="ax21:AdaptorResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="signatureAvailable" type="xs:boolean"/>
              <xs:element minOccurs="0" name="valid" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="addDocumentsToFolderRequest">
    <wsdl:part name="parameters" element="ns:addDocumentsToFolder"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPatientRequest">
    <wsdl:part name="parameters" element="ns:createPatient"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPatientResponse">
    <wsdl:part name="parameters" element="ns:createPatientResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveValueSetResponse">
    <wsdl:part name="parameters" element="ns:retrieveValueSetResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="resolveDocumentUniqueIDResponse">
    <wsdl:part name="parameters" element="ns:resolveDocumentUniqueIDResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="resolveDocumentUniqueIDRequest">
    <wsdl:part name="parameters" element="ns:resolveDocumentUniqueID"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deprecateDocumentRequest">
    <wsdl:part name="parameters" element="ns:deprecateDocument"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="associateDocumentsRequest">
    <wsdl:part name="parameters" element="ns:associateDocuments"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveValueSetRequest">
    <wsdl:part name="parameters" element="ns:retrieveValueSet"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deprecateDocumentResponse">
    <wsdl:part name="parameters" element="ns:deprecateDocumentResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDocumentsToFolderResponse">
    <wsdl:part name="parameters" element="ns:addDocumentsToFolderResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitDocumentsResponse">
    <wsdl:part name="parameters" element="ns:submitDocumentsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertDocumentRequest">
    <wsdl:part name="parameters" element="ns:convertDocument"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveCodesRequest">
    <wsdl:part name="parameters" element="ns:retrieveCodes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveCodesResponse">
    <wsdl:part name="parameters" element="ns:retrieveCodesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="associateDocumentsResponse">
    <wsdl:part name="parameters" element="ns:associateDocumentsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertDocumentResponse">
    <wsdl:part name="parameters" element="ns:convertDocumentResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFolderResponse">
    <wsdl:part name="parameters" element="ns:createFolderResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitDocumentsRequest">
    <wsdl:part name="parameters" element="ns:submitDocuments"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFolderRequest">
    <wsdl:part name="parameters" element="ns:createFolder"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SourceAdaptorServicePortType">
    <wsdl:operation name="retrieveValueSet">
      <wsdl:input message="ns:retrieveValueSetRequest" wsaw:Action="urn:retrieveValueSet"></wsdl:input>
      <wsdl:output message="ns:retrieveValueSetResponse" wsaw:Action="urn:retrieveValueSetResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="associateDocuments">
      <wsdl:input message="ns:associateDocumentsRequest" wsaw:Action="urn:associateDocuments"></wsdl:input>
      <wsdl:output message="ns:associateDocumentsResponse" wsaw:Action="urn:associateDocumentsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPatient">
      <wsdl:input message="ns:createPatientRequest" wsaw:Action="urn:createPatient"></wsdl:input>
      <wsdl:output message="ns:createPatientResponse" wsaw:Action="urn:createPatientResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCodes">
      <wsdl:input message="ns:retrieveCodesRequest" wsaw:Action="urn:retrieveCodes"></wsdl:input>
      <wsdl:output message="ns:retrieveCodesResponse" wsaw:Action="urn:retrieveCodesResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentsToFolder">
      <wsdl:input message="ns:addDocumentsToFolderRequest" wsaw:Action="urn:addDocumentsToFolder"></wsdl:input>
      <wsdl:output message="ns:addDocumentsToFolderResponse" wsaw:Action="urn:addDocumentsToFolderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertDocument">
      <wsdl:input message="ns:convertDocumentRequest" wsaw:Action="urn:convertDocument"></wsdl:input>
      <wsdl:output message="ns:convertDocumentResponse" wsaw:Action="urn:convertDocumentResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolveDocumentUniqueID">
      <wsdl:input message="ns:resolveDocumentUniqueIDRequest" wsaw:Action="urn:resolveDocumentUniqueID"></wsdl:input>
      <wsdl:output message="ns:resolveDocumentUniqueIDResponse" wsaw:Action="urn:resolveDocumentUniqueIDResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprecateDocument">
      <wsdl:input message="ns:deprecateDocumentRequest" wsaw:Action="urn:deprecateDocument"></wsdl:input>
      <wsdl:output message="ns:deprecateDocumentResponse" wsaw:Action="urn:deprecateDocumentResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createFolder">
      <wsdl:input message="ns:createFolderRequest" wsaw:Action="urn:createFolder"></wsdl:input>
      <wsdl:output message="ns:createFolderResponse" wsaw:Action="urn:createFolderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitDocuments">
      <wsdl:input message="ns:submitDocumentsRequest" wsaw:Action="urn:submitDocuments"></wsdl:input>
      <wsdl:output message="ns:submitDocumentsResponse" wsaw:Action="urn:submitDocumentsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SourceAdaptorServiceSoap11Binding" type="ns:SourceAdaptorServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieveValueSet">
      <soap:operation soapAction="urn:retrieveValueSet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="associateDocuments">
      <soap:operation soapAction="urn:associateDocuments" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPatient">
      <soap:operation soapAction="urn:createPatient" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCodes">
      <soap:operation soapAction="urn:retrieveCodes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentsToFolder">
      <soap:operation soapAction="urn:addDocumentsToFolder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertDocument">
      <soap:operation soapAction="urn:convertDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolveDocumentUniqueID">
      <soap:operation soapAction="urn:resolveDocumentUniqueID" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprecateDocument">
      <soap:operation soapAction="urn:deprecateDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createFolder">
      <soap:operation soapAction="urn:createFolder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitDocuments">
      <soap:operation soapAction="urn:submitDocuments" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SourceAdaptorServiceSoap12Binding" type="ns:SourceAdaptorServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieveValueSet">
      <soap12:operation soapAction="urn:retrieveValueSet" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="associateDocuments">
      <soap12:operation soapAction="urn:associateDocuments" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPatient">
      <soap12:operation soapAction="urn:createPatient" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCodes">
      <soap12:operation soapAction="urn:retrieveCodes" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentsToFolder">
      <soap12:operation soapAction="urn:addDocumentsToFolder" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertDocument">
      <soap12:operation soapAction="urn:convertDocument" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolveDocumentUniqueID">
      <soap12:operation soapAction="urn:resolveDocumentUniqueID" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprecateDocument">
      <soap12:operation soapAction="urn:deprecateDocument" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createFolder">
      <soap12:operation soapAction="urn:createFolder" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitDocuments">
      <soap12:operation soapAction="urn:submitDocuments" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SourceAdaptorServiceHttpBinding" type="ns:SourceAdaptorServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="retrieveValueSet">
      <http:operation location="retrieveValueSet"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="associateDocuments">
      <http:operation location="associateDocuments"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPatient">
      <http:operation location="createPatient"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCodes">
      <http:operation location="retrieveCodes"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocumentsToFolder">
      <http:operation location="addDocumentsToFolder"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertDocument">
      <http:operation location="convertDocument"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolveDocumentUniqueID">
      <http:operation location="resolveDocumentUniqueID"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprecateDocument">
      <http:operation location="deprecateDocument"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createFolder">
      <http:operation location="createFolder"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitDocuments">
      <http:operation location="submitDocuments"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SourceAdaptorService">
    <wsdl:port name="SourceAdaptorServiceHttpEndpoint" binding="ns:SourceAdaptorServiceHttpBinding">
      <http:address location="https://cara.int.post-ehealth.ch:26443/Source/services/SourceAdaptorService"/>
    </wsdl:port>
    <wsdl:port name="SourceAdaptorServiceHttpSoap11Endpoint" binding="ns:SourceAdaptorServiceSoap11Binding">
      <soap:address location="https://cara.int.post-ehealth.ch:26443/Source/services/SourceAdaptorService"/>
    </wsdl:port>
    <wsdl:port name="SourceAdaptorServiceHttpSoap12Endpoint" binding="ns:SourceAdaptorServiceSoap12Binding">
      <soap12:address location="https://cara.int.post-ehealth.ch:26443/Source/services/SourceAdaptorService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>